$pink1: #ffc4a7;
$pink2: #fa9272;
$merah: #b03b19;
$abu1: #565350;
$abu2: #a69c92;
$abu3: #d1c9b8;
$coklat1: #2b160f;
$hijau1: #0c361d;
$hijau2: #9dbdaa;
$hitam: #0f0903;
$bg: #fef8eb;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$imageLarge: url(../public/imagesoptimzer/hero-image_4-large.jpg);
$imageMedium: url(../public/imagesoptimzer/hero-image_4-meduim.jpg);
$imageSmall: url(../public/imagesoptimzer/hero-image_4-small.jpg);